.modalBox {
	position: relative;
	z-index: 100;
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-radius: 5px;
	margin: 2rem;
}

.modalContainer {
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
}
